body {
  /* ref: https://fonts.google.com/specimen/Source+Sans+Pro?selection.family=Source+Sans+Pro */
  font-family: "Source Sans Pro", sans-serif;
  padding: 1em 3em;
  background-color: rgb(58, 40, 25);
}

.dot {
  cursor: pointer;
}

.dot text {
  opacity: 0;
  fill: rgb(255, 252, 252);
  text-anchor: middle;
  pointer-events: none;
}

.dot:hover text {
  opacity: 1;
}

.dot:hover circle {
  fill: rgb(255, 252, 252);
}

.axis-label {
  font-size: 14px;
  fill: black;
  text-anchor: middle;
}
