body {
  /* ref: https://fonts.google.com/specimen/Source+Sans+Pro?selection.family=Source+Sans+Pro */
  font-family: "Source Sans Pro", sans-serif;
  padding: 1em 3em;
  background-color: lavender;
}

.center {
  text-align: center;
}

.axis {
  font-size: 18px;
}

.axis-label {
  fill: black;
  text-anchor: middle;
}

.label {
  opacity: 0;
  fill: black;
}

.label:hover {
  opacity: 1;
}

.section {
  margin: 5%;
  height: auto;
}

.section#one {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: 25% 25% 50%;
}

.section#one > .graph1 {
  height: auto;
  grid-column: 1 / 3;
}

.section#one > .graph2 {
  grid-column: 3 / 4;
}

.section#two {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: 40% 60%;
}

.section#two > .text {
  grid-column: 2 / 3;
}

.section#two > .graph {
  grid-column: 0 / 2;
  grid-row: 1;
}

svg {
  overflow: visible;
}
